{% extends 'super.html' %}
{% block title %}
<title>Онлайн магазин</title>
{% endblock %}
{% block body %}
 <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">КАТАЛОГ</h1>
    <p class="fs-5 text-muted">Добро пожаловать в магазин CubeShop</p>
  </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for i in data %}
      {% if i.rest != 0 %}
 <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ i.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ i.price }}<small class="text-muted fw-light">рублей</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>100% хлопок</li>
              <li>Гарантия качества</li>
              <li>Ручная работа</li>
              <li>Произведено в России</li>
              <li>Осталось на складе: {{ i.rest }}</li>
            </ul>
            {% if current_user.is_authenticated %}
            <a href="/shopping_add/{{ i.id }}" class="w-100 btn btn-lg btn-outline-primary">В корзину</a>
            {% else %}
            <a class="w-100 btn btn-lg btn-outline-primary">В корзину</a>
              <div class="alert alert-danger" role="alert">
                    <p>
                        Авторизуйтесь чтобы добавить товар в корзину
                    </p>
                </div>
            {% endif %}
          </div>
        </div>
</div>
       {% endif %}
      {% endfor %}
</div>
{% endblock %}

